<template lang="">
    <div class="container">
        <h1>This is Content</h1>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    .container{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: aquamarine;
    }
</style>