.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content:center;
  align-items: center;
}


.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.information button{
  width: 322px;
  height: 52px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.information button:hover {
  background-color: rgb(209, 240, 255);
}