<template>
    <div>
        <h1>User id:</h1>
        <from>
            <input type="text">
            <input type="submit" value="insert">
        </from>
 
    </div>
</template>

<script>

export default {
    layout:"coreLayout"
}
</script>
<style lang="">
    
</style>