<template>
    <div>
        <Payment />
    </div>
</template>
<script>
import Payment from '@/components/Payment/Payment'

export default {
    components:{
        Payment
    }
}
</script>
<style lang="">
    
</style>