<div>
    <!-- <NuxtWelcome /> -->
    <header class="sticky 
      top-0 
      z-50 
      flex 
      justify-between 
      items-center 
      space-x-1 
      border-b 
      bg-white 
      p-4 
      shadow-md"
      >
      <a class="test-3xl font0mono" href="">cartrader</a>
    </header>


    <div class="
    relative 
    h-screen 
    w-100 
    bg-no-repeat 
    bg-cover 
    bg-bottom 
    bg-[url('https://www.autodeft.com/_files/images/full/2016-09-01/FL0UPCJ7.jpg')]">
      
      <div class="z-10 absolute w-full flex justify-center item-center">
          
        <div class="text-center w-1/2">
          <h1 class="text-6xl font-serif mb-10 text-white pt-20">Find your drive</h1>

          <!-- Home search bar -->
          <div class="
            font-serif 
            w-[1000px] 
            text-2xl 
            rounded-full 
            bg-white 
            flex 
            justify-between 
            overflow-hidden 
            drop-shadow-2xl
             mx-auto "
             >
          <input 
            type="text" 
            class="py-3 px-5 w-full text-2xl rounded-full focus:outline-none"
            placeholder="Search by city..."
            />
            <button class="bg-sky-500 px-10 text-white">Search</button>
  
          </div>
          <!-- Home search bar -->
        </div>
      </div>
      <div class="z-1 absolute w-full h-full bg-black opacity-50"></div>
      
    </div>
  </div>